*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: poppins, sans-serif;
    background: #e5e7eb;
    position: relative;
    display: flex;
}

#menu{
    background: #111827;
    width: 300px;
    height: 100vh;
    padding: 26px;

}
#menu h1{
    color: white;
    
    font-size: 24px;
}

#menu .items{
    margin: 24px 0;

}

#menu .items li{
    
    list-style: none;
    padding: 16px 8px;
    margin-block: 16px;
    background-color: #ffffff;
    border-radius: 15px;
}

#menu .items li a{
    color: rgb(3, 0, 10);
    text-decoration: none;
}


#menu .items li:hover {
  background-color: #6366f1;
  cursor: pointer;
  transition: 0.5s;
}

#menu .layout {
    background-color: white;
    color: black;
    padding: 20px 0;
    border-bottom: 1px solid #eee;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-bar{
    background-color: #111827;
    grid-column: inherit;
}

#interface{
    width: calc(100%-300px);
}

#interface .nav{
display: flex;
align-items: center;
justify-content: space-between;
background: #01d9ff;
padding: 15px 30px;
border-bottom: #6366f1 ;
}





