body{
    width: 100%;
    background: #e5e7eb;
    position: relative;
}

#menu{
    background: #111827;
    width: 300px;
    height: 100%;

}
#menu h1{
    color: white;
    padding: 26px;
    font-size: 24px;
}

#menu .items{
    padding: 12px 0;
}

#menu .items li{
    list-style: none;
    padding: 8px 16px;
}

#menu .items li a{
    color: white;
    text-decoration: none;
}


#menu .items li a:hover{
    background: #374151;
}
